<div class="container-fluid">
  <div *ngIf="datos == true"><h1>No existen datos</h1></div>
  <div style="text-align: center">
    <button [routerLink]="['/reserva', 'nuevo']" type="button" class="btn btn-link">
      <img src="../../../../assets/icons/icons8-add-48.png" height="48" width="48"/>
      Nueva Reserva
    </button>
  </div>
  <br>
  <table class="table table-responsive table-hover" style="" *ngIf="datos1">
    <thead>
    <tr>
      <th>Nombres y Apellidos</th>
      <th>Aula</th>
      <th>Materia</th>
      <th>Fecha</th>
      <th>Hora de Inicio</th>
      <th>Hora Fin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of reservas; let i = index;">
      <td>{{item.nombreDocent}}</td>
      <td>{{item.aula}}</td>
      <td>{{item.nombreMat}}</td>
      <td>{{item.fecha}}</td>
      <td>{{item.horaInicio}}</td>
      <td>{{item.horaFin}}</td>
    </tr>
    </tbody>
  </table>
</div>
