<div class="container-fluid">
  <br>
  <div style="text-align: center">
    <button [routerLink]="['/reservaUs', 'nuevo']" type="button" class="btn btn-link">
      <img src="../../../../assets/icons/icons8-add-48.png" height="48" width="48"/>
      Nueva Reserva
    </button>
  </div>

  <p-table #dt [columns]="cols" [value]="reservas" [(selection)]="selectedRese" [paginator]="true" [rows]="10" [resizableColumns]="true" [reorderableColumns]="true" [rowsPerPageOptions]="[10,20,30]">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <img src="../../../../assets/icons/icons8-search-20.png" height="20" width="20"/>
        <input class="col-sm-12" type="text" pInputText placeholder="Buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" class="text-center" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th class="text-center">
          Opciones
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input class="col-sm-12" *ngSwitchCase="'nombreDocent'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input class="col-sm-12" *ngSwitchCase="'aula'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input class="col-sm-12" *ngSwitchCase="'nombreMat'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input class="col-sm-12" *ngSwitchCase="'fecha'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input class="col-sm-12" *ngSwitchCase="'horaInicio'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input class="col-sm-12" *ngSwitchCase="'horaFin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        </th>
        <th class="text-md-center">
          <p>Editar y Eliminar</p>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns;">
          {{rowData[col.field]}}
        </td>
        <td class="text-md-center">
          <button type="button" class="btn btn-link">
            <img src="../../../../assets/icons/icons8-edit-40.png" height="40" width="40" [routerLink]="['/reserva', rowData.id]"/>
          </button>
          <!-- <button type="button" class="btn btn-link" (click)="traerIndex(rowData)"
                  data-toggle="modal" [attr.data-target]="'#confirmacionReser'+ rowData.id">
            <img src="../../../../assets/icons/icons8-cancel-40.png" height="40" width="40"/>
          </button>
          <div class="modal fade" [id]="'confirmacionReser'+ rowData.id" tabindex="-1" role="dialog" aria-labelledby="confirmacion" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: black">Eliminar registro</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="color: black">
                  Seguro que desea eliminar este registro ??
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminar(rowData.id)">Aceptar</button>
                </div>
              </div>
            </div>
          </div> -->
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
