<br>
<div class="container-fluid" xmlns="">
  <h1 style="text-align: center"><strong>Registro de Nueva Reserva</strong></h1>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 offset-sm-4 text-center">
      <button [routerLink]="['/admin']" type="button" class="btn btn-info">
        Atras
      </button>
    </div>
    <div class="col-sm-2">
      <button [routerLink]="['/reserva','nuevo']" (click)="clean()" type="button" class="btn btn-info">
        Limpiar
      </button>
    </div>
  </div>
  <br>
  <form class="was-validated" #forma="ngForm">
  <div class="row">
    <div class="col-sm-6 offset-3">

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Docente:</label>
        <div class="col-xl-5">
          <select class="form-control"
                  placeholder="nombre"
                  name="nombre"
                  required
                  [(ngModel)]="reserva.nombreDocent" (change)="mater()">
            <option *ngFor="let item of docentes" value="{{item.nombreDocent}}">{{item.nombreDocent}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Aula:</label>
        <div class="col-xl-5">
          <select class="form-control" name="aula"
                  placeholder="aula"
                  required
                  [(ngModel)]="reserva.aula" (change)="cruz(); reserv()">
            <option *ngFor="let item of aulas" value="{{item.nombreAula}}">{{item.nombreAula}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Materia:</label>
        <div class="col-xl-5">
          <select class="form-control"
                  name="materia"
                  required
                  placeholder="materia" [(ngModel)]="reserva.nombreMat">
            <option *ngFor="let i of materias" value="{{i.nombreMat}}">{{i.nombreMat}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Fecha:</label>
        <div class="col-xl-9">
          <p-calendar name="fecha" [(ngModel)]="date2" [locale]="es" [showIcon]="true" [disabledDays]="[0]" (onSelect)="val($event); val1($event)" (onSelect)="cruz(); reserv()"></p-calendar>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Hora de Inicio:</label>
        <div class="col-xl-5">
          <input class="form-control" required id="inicio" type="time" value="07:00" min="07:00" max="21:00" step="3600"
                 name="hora" (change)="hor()" [(ngModel)]="reserva.horaInicio" (change)="cruz(); reserv(); excess();">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Hora de Finalizacion:</label>
        <div class="col-xl-5">
          <input class="form-control" required id="fin" type="time" value="07:00" min="08:00" max="21:00" step="3600"
                 name="hora" (change)="hor(); excess();" [(ngModel)]="reserva.horaFin">
        </div>
      </div>

      <div class="form-group row" *ngIf="permisionn">
        <div *ngIf="permisions" class="col-sm-12" id="boton">
          <button type="submit" class="btn btn-info"
                  [disabled]="!forma.valid" (click)="guardarRe()" *ngIf="permision">
            Guardar
          </button>
        </div>
      </div>
      <p-growl [(value)]="msgs" [life]="2000"></p-growl>
    </div>
  </div>
  </form>
</div>
