<br>
<div class="container-fluid" xmlns="">
  <header style="background-color: #17a2b8; color: white"><h1 style="text-align: center"><strong>Registro de Nueva Reserva</strong></h1></header>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 offset-sm-4 text-center">
      <button [routerLink]="['/admin']" type="button" class="btn btn-info">
        Atras
      </button>
    </div>
    <div class="col-sm-2">
      <button [routerLink]="['/reserva','nuevo']" (click)="clean()" type="button" class="btn btn-info">
        Limpiar
      </button>
    </div>
  </div>
  <br>
  <form class="was-validated" #forma="ngForm">
  <div class="row">
    <div class="col-sm-5" >
      <div class="form-group row">
        <label class="col-md-4 col-form-label">Docente:</label>
        <div class="col-md-6">
          <select class="form-control"
                  placeholder="nombre"
                  name="nombre"
                  required
                  [(ngModel)]="reserva.nombreDocent" (change)="mater()">
            <option *ngFor="let i of docentes" value="{{i.apellidoDocent + ' ' + i.nombreDocent}}">{{i.apellidoDocent}} {{i.nombreDocent}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Aula:</label>
        <div class="col-sm-6">
          <select class="form-control" name="aula"
                  placeholder="aula"
                  required
                  [(ngModel)]="reserva.aula" (change)="nuevoArray();cruz(); reserv();">
            <option *ngFor="let item of aulas" value="{{item.nombreAula}}">{{item.nombreAula}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Materia:</label>
        <div class="col-sm-6">
          <select class="form-control"
                  name="materia"
                  required
                  placeholder="materia" [(ngModel)]="reserva.nombreMat" (change)="creditosCp()">
            <option *ngFor="let i of materias" value="{{i.nombreMat}}">{{i.nombreMat}} ({{i.codigo}})</option>
          </select>
        </div>
      </div>

      <div class="form-group row" *ngIf="credi">
        <label class="col-md-2 offset-2 col-form-label">Créditos:</label>
        <div class="col-md-2">
          <label class="col-md-2 col-form-label" >{{this.creditosM}}</label>
        </div>
      </div>

      <div class="form-group row" *ngIf="cdCP">
        <label class="col-md-2 offset-2 col-form-label">CD:</label>
        <div class="col-md-2">
          <label class="col-md-2 col-form-label" >{{this.cds}}</label>
        </div>

        <label class="col-md-2 col-form-label">CP:</label>
        <div class="col-md-2">
          <label class="col-md-2 col-form-label" >{{this.cps}}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Fecha:</label>
        <div class="col-sm-8">
          <p-calendar name="fecha" [(ngModel)]="date2" [locale]="es" [showIcon]="true" [disabledDays]="[0]" (onSelect)="val($event); val1($event)" (onSelect)="cruz(); reserv()"></p-calendar>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Hora de Inicio:</label>
        <div class="col-sm-6">
          <input class="form-control" required id="inicio" type="time" value="07:00" min="07:00" max="21:00" step="3600"
                 name="hora" [(ngModel)]="reserva.horaInicio" (change)="cruz(); reserv(); excess();" (change)="hor()">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Hora de Finalizacion:</label>
        <div class="col-sm-6">
          <input class="form-control" required id="fin" type="time" value="07:00" min="08:00" max="21:00" step="3600"
                 name="hora" (change)="cruz(); excess(); reserv();" [(ngModel)]="reserva.horaFin" (change)="hor()">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12" id="boton">
          <button type="submit" class="btn btn-info"
                  [disabled]="!forma.valid" (click)="guardarRe()" *ngIf="permision" [disabled]="correct">
            Guardar
          </button>
        </div>
        <div class="col-sm-6 offset-md-4" *ngIf="permision">
          <label id="Msj" [ngClass]="correct == true ? 'error' : 'ok'">{{mensajeCtrl}}</label>
        </div>
      </div>
      <p-growl [(value)]="msgs" [life]="2000"></p-growl>
    </div>
    <div class="col-sm-7">
      <p-table #dt [columns]="cols" [value]="reservas" [(selection)]="selectedRese" [paginator]="true" [rows]="10" [resizableColumns]="true" [reorderableColumns]="true" [rowsPerPageOptions]="[10,20,30]">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <img src="../../../../assets/icons/icons8-search-20.png" height="20" width="20"/>
            <input class="col-sm-12" type="text" pInputText placeholder="Buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" class="text-center" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns;">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  </form>
</div>
