<div class="container-fluid">
  <div class="row">
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <form #forma="ngForm">
        <div class="form-group row">
          <label class="col-2 col-form-label">Aula:</label>
          <div class="col-10">
            <input class="form-control" type="text"
                   placeholder="nombre"
                   name="nombre">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Docente:</label>
          <div class="col-10">
            <input class="form-control" type="email"
                   name="correo"
                   placeholder="correo">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Materia:</label>
          <div class="col-10">
            <input class="form-control" type="text"
                   name="contra"
                   placeholder="163">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">Fecha:</label>
          <div class="col-10">
            <p-calendar dateFormat="dd.mm.yy" [showIcon]="true" [disabledDays]="[0]"></p-calendar>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">Hora de Inicio:</label>
          <div class="col-sm-2">
            <input class="form-control" id="inicio" type="time" value="07:00" min="07:00" max="21:00" step="3600"
                   name="hora">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">Hora de Finalizacion:</label>
          <div class="col-sm-2">
            <input class="form-control" id="fin" type="time" value="07:00" min="07:00" max="21:00" step="3600"
                   name="hora">
          </div>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-info col-2 col-form-label">
            Editar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
