<header style="background-color: cornflowerblue">
  <h3 style="color: azure; text-align: center">Escuela de Politécnica Nacional</h3>
  <h4 style="color: azure; text-align: center">Escuela de Formación de Tecnólogos</h4>
</header>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3">
      <h4>Informacion</h4>
      <p style="text-align: justify">Bienvenido al aplicativo web de distribución de recursos de la ESFOT, en el cual podrá reservar aulas o laboratorios
        en caso de necesitarlo. Si dispone de un usuario y contraseña ingréselas por favor.
      </p>
    </div>
    <div class="col-xl-6">
      <h1 style="text-align: center">Login</h1><br>
      <form class="was-validated" #forma="ngForm">
        <div class="form-group row justify-content-center">
          <label class="col-xl-2 col-form-label">Correo:</label>
          <div class="col-xl-auto">
            <input #usuario = "ngModel"
                   name="usuario" type="text"
                   [(ngModel)]="correo1"
                   class="form-control"
                   required
                   pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$">
            <div class="valid-feedback">
              <b>Correo con formato correcto</b>
            </div>
            <div class="invalid-feedback">
              <b>Correo con formato incorrecto</b>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label class="col-xl-2 col-form-label">Password</label>
          <div class="col-xl-auto">
            <input #contra = "ngModel" type="password"
                   name="contra"
                   [(ngModel)]="password1"
                   class="form-control"
                   required
                   minlength="6">
            <div class="valid-feedback">
              <b>Contraseña correcta</b>
            </div>
            <div class="invalid-feedback">
              <b>Minimo de caracteres 6</b>
            </div>
          </div>
        </div>
        <br>
        <div class="row justify-content-center">
          <div class="col-4 offset-xl-2">
            <button class="btn btn-primary"
                    [disabled]="!forma.valid" (click)="entrar()">Ingresar</button>
          </div>
        </div>
      </form>
      <p-growl [(value)]="msgs" [life]="2000"></p-growl>
    </div>
  </div>
</div>
<br>
<!--<label>correo</label><input #usuario = "ngModel"
                            name="usuario" type="text" [(ngModel)]="correo1">
<label>contra</label><input #contra = "ngModel"
                            name="contra"
                            [(ngModel)]="password1"
                            >
<button (click)="entrar()">entrar</button>-->

<footer class="footer">
  <h5>{{fechaActual}}</h5>
</footer>
