

* {
  margin: 0;
}
html, body {
  height: 100%;
}

.container-fluid:after {
  content: "";
  display: block;
  position: center;
}
/*.footer, .container-fluid:after {
  /* .push must be the same height as footer */
  /*width: 100%;
  height: auto;
}*/

.footer, .container-fluid:after {
  display: block;
  /*background: #024959;*/
  background-color: cornflowerblue;
  color: #fff;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2000;
}
