<div class="container-fluid">
  <div style="text-align: center">
    <button [routerLink]="['/aula', 'nuevo']" type="button" class="btn btn-link">
      <img src="../../../../assets/icons/icons8-add-48.png" height="40" width="40"/>Nueva Aula
    </button>
  </div>
  <br>
  <table class="table table-responsive table-hover">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Capacidad</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of aulas; let i = index;">
      <td>{{item.nombreAula}}</td>
      <td>{{item.descripcion}}</td>
      <td>{{item.cupo}}</td>

      <td>
        <button type="button" class="btn btn-link" [routerLink]="['/aula', item.id]">
          <img src="../../../../assets/icons/icons8-edit-40.png" height="40" width="40"/>
        </button>&nbsp;
        <button type="button" class="btn btn-link"
                data-toggle="modal" [attr.data-target]="'#confirmacion21'+i">
          <img src="../../../../assets/icons/icons8-cancel-40.png" height="40" width="40"/>
        </button>
        <div class="modal fade" [id]="'confirmacion21'+i" tabindex="-1" role="dialog" aria-labelledby="confirmacion" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eleminar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Seguro que desea eleminar este registro ??
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminar(item.id, i)">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
