<br>
<div class="container-fluid" xmlns="">
  <h1 style="text-align: center"><strong>Registro de Nueva Materia</strong></h1>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 offset-4 text-center">
      <button [routerLink]="['/admin']" type="button" class="btn btn-info">
        Atras
      </button>
    </div>
    <div class="col-sm-2">
      <button [routerLink]="['/materia','nuevo']" (click)="clean()" type="button" class="btn btn-info">
        Limpiar
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 offset-3">
      <form class="was-validated" #forma="ngForm">
        <div class="form-group row was-validated">
          <label class="col-2 col-form-label">Nombre:</label>
          <div class="col-xl-10">
            <input class="form-control" type="text"
                   placeholder="nombre"
                   name="nombre"
                   required
                   [(ngModel)]="materia.nombreMat" maxlength="30">
          </div>
        </div>
        <div class="form-group row was-validated">
          <label class="col-2 col-form-label">Codigo:</label>
          <div class="col-xl-10">
            <input class="form-control"
                   type="text"
                   required
                   name="codigo"
                   placeholder="codigo"
                   [(ngModel)]="materia.codigo" maxlength="6">
          </div>
        </div>

        <div class="form-group row was-validated">
          <label class="col-2 col-form-label">Semestre:</label>
          <div class="col-xl-10">
            <select class="custom-select form-control"
                    name="semestres"
                    required
                    [(ngModel)]="materia.semestre">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">Carreras:</label>
          <div class="col-xl-10">
            <p-checkbox name="carrerass" *ngFor="let item of carrerass"
                        value="{{item.siglas}}" label="{{item.siglas}}"
                        [(ngModel)]="materia.carreras" (onChange)="subjects()"></p-checkbox>
          </div>
        </div>

        <div *ngIf="!carreraNueva; else carreraAntigua">
          <div class="form-group row">
            <label class="col-2 col-form-label">Creditos:</label>
            <div class="col-xl-10">
              <input class="form-control"
                     type="number" min="2" max="12"
                     name="creditos"
                     required
                     placeholder="creditos"
                     [(ngModel)]="materia.creditos">
            </div>
          </div>
        </div>
        <ng-template #carreraAntigua>
          <div class="form-group row">
            <label class="col-2 col-form-label">Componente de Docencia:</label>
            <div class="col-xl-10">
              <input class="form-control" type="number" min="1" max="4"
                     id="cd"
                     name="cd"
                     required
                     placeholder="Componente de Docencia"
                     [(ngModel)]="materia.cd" (change)="suma()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Componente Practico:</label>
            <div class="col-xl-10">
              <input class="form-control" type="number" min="1" max="4"
                     id="cp"
                     name="cp"
                     required
                     placeholder="Componente Practico"
                     [(ngModel)]="materia.cp" (change)="suma()">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label">Total de Horas</label>
            <div class="col-xl-10">
              <input class="form-control" type="number" min="1" max="4"
                     id="totalHoras"
                     name="totalHoras"
                     required
                     placeholder="totalHoras"
                     [(ngModel)]="materia.totalHoras" disabled >
            </div>
          </div>
        </ng-template>

        <div class="form-group row">
          <div class="col-sm-12" id="boton">
            <button type="submit"
                    class="btn btn-info"
                    (click)="guardar()"
                    [disabled]="!forma.valid">
              Guardar
            </button>
          </div>
        </div>
        <p-growl [(value)]="msgs" [life]="2000"></p-growl>

      </form>
    </div>
  </div>
</div>
