<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 text-left">
      <button [routerLink]="['/admin']" type="button" class="btn btn-info">
        Atras
      </button>
    </div>
    <div class="col-sm-6 text-right">
      <button [routerLink]="['/usuario','nuevo']" type="button" class="btn btn-info">
        Limpiar
      </button>
    </div>
  </div>
  <br>
  <form class="was-validated" #forma="ngForm">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre:</label>
        <div class="col-3">
          <input class="form-control" type="text"
                 placeholder="nombre"
                 name="nombre"
                 required
                 [(ngModel)]="usuario.nombreDocent">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Correo:</label>
        <div class="col-3">
          <input class="form-control" type="email"
                 name="correo"
                 placeholder="correo"
                 required
                 pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$"
                 [(ngModel)]="usuario.correo">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña:</label>
        <div class="col-2">
          <input class="form-control"
                 name="contra"
                 disabled value="{{usuario.password}}"
                 [(ngModel)]="usuario.password"
                 required>
        </div>
        <div class="col-auto">
          <button class="btn btn-info" (click)="password()">*</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Cargo</label>
        <div class="col-2">
          <select class="custom-select form-control"
                  name="cargo"
                  required
                  [(ngModel)]="usuario.cargo">
            <option value="Administrador">Administrador</option>
            <option value="Docente">Docente</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Carrera:</label>
        <div class="col-auto">
          <p-checkbox name="carrerasx" *ngFor="let item of carrerasx"
                      value="{{item.siglas}}" label="{{item.siglas}}"
                      [(ngModel)]="usuario.carreras"></p-checkbox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-auto">
          <button type="submit" class="btn btn-info" [disabled]="!forma.valid" (click)="guardar()">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
