<div class="container-fluid" xmlns="" xmlns="">
  <table class="table table-responsive table-hover">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Creditos</th>
      <th>Semestre</th>
      <th>Carreras</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of materias; let i = index;">
      <td>{{item.nombreMat}}</td>
      <td>{{item.codigo}}</td>
      <td>{{item.creditos}}</td>
      <td>{{item.semestre}}</td>
      <td>{{item.carreras}}</td>
      <td>
        <button type="button" class="btn btn-info" [routerLink]="['/materia', item.id]">Editar</button>
        <button type="button" class="btn btn-danger"
                data-toggle="modal" [attr.data-target]="'#confirmacion3'+i">Eliminar</button>
        <div class="modal fade" [id]="'confirmacion3'+i" tabindex="-1" role="dialog" aria-labelledby="confirmacion" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eleminar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Seguro que desea eleminar este registro ??
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminar(item.id, i)">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <button [routerLink]="['/materia', 'nuevo']" type="button" class="btn btn-info">Nueva Materia</button>
</div>


