<div class="container-fluid">
  <table class="table table-responsive table-hover">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Creditos</th>
      <th>Semestre</th>
      <th>Carreras</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of materias; let i = index;">
      <td>{{item.nombreMat}}</td>
      <td>{{item.codigo}}</td>
      <td>{{item.creditos}}</td>
      <td>{{item.semestre}}</td>
      <td>{{item.carreras}}</td>
      <td>
        <button type="button" class="btn btn-info" [routerLink]="['/materia', item.id]">Editar</button>
        <button (click)="eliminar(item.id, i)" type="button" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button [routerLink]="['/materia', 'nuevo']" type="button" class="btn btn-info">Nueva Materia</button>
</div>
