<br>
<div class="container-fluid" xmlns="">
  <header style="background-color: #17a2b8; color: white"><h1 style="text-align: center"><strong>Registro de Nueva Carrera</strong></h1></header>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 offset-4 text-center">
      <button [routerLink]="['/admin']" type="button" class="btn btn-info">
        Atras
      </button>
    </div>
    <div class="col-sm-2">
      <button [routerLink]="['/carrera','nuevo']" (click)="clean()" type="button" class="btn btn-info">
        Limpiar
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 offset-3">
      <form (ngSubmit)="guardar()" class="was-validated" #forma="ngForm">
        <div class="form-group row">
          <label class="col-2 col-form-label">Nombre:</label>
          <div class="col-xl-10">
            <input class="form-control" type="text"
                   placeholder="nombre"
                   name="nombre"
                   required
                   [(ngModel)]="carrera.nombreCarr" maxlength="50" (input)="controll()" style="text-transform:uppercase"
                   [value]="carrera.nombreCarr" (keyup)="mayus()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Siglas:</label>
          <div class="col-xl-10">
            <input class="form-control" type="text"
                   name="siglas"
                   placeholder="siglas"
                   required
                   [(ngModel)]="carrera.siglas" maxlength="6" (input)="controll()" style="text-transform:uppercase"
                   [value]="carrera.siglas" (keyup)="mayus()">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12" id="boton">
            <button type="submit" [disabled]="!forma.valid" class="btn btn-info">
              Guardar
            </button>
          </div>
        </div>
        <p-growl [(value)]="msgs" [life]="2000"></p-growl>

      </form>
    </div>
  </div>
</div>
