<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabe4">Manual de Ayuda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Para su ayuda, le presentamos el manual con el cual podra aclarar las dudas que posea acerca de la aplicación web, haga click en Aceptar para ver el
        manual o en Cancelar para cerrar esta ventana
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openPdf()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<ng2-pdfjs-viewer #externalPdfViewer [externalWindow]="true"></ng2-pdfjs-viewer>

<div class="row">
  <div class="col-sm-10 text-center">
    <button type="button" class="btn btn-link" (click)="fireEvent()">
      <img src="https://img.icons8.com/color/48/000000/export-csv.png">Exportar
    </button>&nbsp;
    <button [routerLink]="['/horarioadmin', 'nuevo']" type="button" class="btn btn-link">
      <img src="../../../../assets/icons/icons8-add-48.png" height="48" width="48"/>Nuevo Horario
    </button>
  </div>
  <div class="col-sm text-right">
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
      <img src="../../../../assets/icons/icons8-help-40.png" height="40" width="40"/>Ayuda
    </button>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h5>Busqueda por:</h5><p-checkbox [(ngModel)]="checked" binary="true" label="Mostrar opciones"></p-checkbox>
      <div class="ui-g" style="width:1250px;margin-bottom:10px" *ngIf="checked">
        <div class="ui-g-3"><p-radioButton name="group2" value="Option 1" label="Horario por Nivel" [(ngModel)]="val2" inputId="preopt1"></p-radioButton></div>
        <div class="ui-g-3"><p-radioButton name="group2" value="Option 2" label="Horario por Docentes" [(ngModel)]="val2" inputId="preopt2"></p-radioButton></div>
        <div class="ui-g-3"><p-radioButton name="group2" value="Option 3" label="Horario por Aulas y/o Laboratorios" [(ngModel)]="val2" inputId="preopt3"></p-radioButton></div>
        <div class="ui-g-3"><p-radioButton name="group2" value="Option 4" label="Todos" [(ngModel)]="val2" inputId="preopt4" (onClick)="todos()"></p-radioButton></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="checked">
  <div *ngIf="val2 == 'Option 1' " class="row">
    <div class="col-xl-3">
      <label>Seleccione el semestre que busca:</label>
    </div>
    <div class="col-xl-1">
      <select class="form-control"
              name="nive" id="filnivell" [(ngModel)]="nivel" (click)="filhorario()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <div class="col-xl-2">
      <label>Y carrera a la que pertenece:</label>
    </div>
    <div class="col-xl-2">
      <select class="form-control"
              name="carr" id="filcarrl" [(ngModel)]="carre" (click)="filhorario()">
        <option *ngFor="let i of carreras" value="{{i.siglas}}">{{i.siglas}}</option>
      </select>
    </div>
  </div>
</div>

<div *ngIf="val2 == 'Option 2'" class="row">
  <div class="col-xl-3">
    <label>Seleccione el docente que busca:</label>
  </div>
  <div class="col-xl-4">
    <select class="form-control"
            name="docen" id="fildocen" [(ngModel)]="docentName" (click)="fildocente()">
      <option *ngFor="let i of docentes" value="{{i.nombreDocent}}">{{i.nombreDocent}}</option>
    </select>
  </div>
</div>
<div *ngIf="val2 == 'Option 3'" class="row">
  <div class="col-xl-4">
    <label>Seleccione el aula o laboratorio que busca:</label>
  </div>
  <div class="col-xl-3">
    <select class="form-control"
            name="docen" id="filaula" [(ngModel)]="labo" (click)="filaula()">
      <option *ngFor="let i of aulas" value="{{i.nombreAula}}">{{i.nombreAula}}</option>
    </select>
  </div>
</div>
<br>
<div class="table-responsive-sm">
  <br>
  <table class="table table-sm table-hover" #table>
    <thead>
    <tr>
      <th scope="col">Docente</th>
      <th scope="col">Materia</th>
      <th scope="col">Aula/Laboratorio</th>
      <th scope="col">Paralelo</th>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miercoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
      <th scope="col">Sabado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of horarios; let i = index;">
      <td>{{item.docenteNom}}</td>
      <td>{{item.nombreMat}}</td>
      <td>{{item.nombreAula}}</td>
      <td>{{item.paralelo}}</td>
      <td>{{item.horaInicios[0]}} - {{item.horaFins[0]}}</td>
      <td>{{item.horaInicios[1]}} - {{item.horaFins[1]}}</td>
      <td>{{item.horaInicios[2]}} - {{item.horaFins[2]}}</td>
      <td>{{item.horaInicios[3]}} - {{item.horaFins[3]}}</td>
      <td>{{item.horaInicios[4]}} - {{item.horaFins[4]}}</td>
      <td>{{item.horaInicios[5]}} - {{item.horaFins[5]}}</td>
      <td>
        <button type="button" class="btn btn-link" [routerLink]="['/horarioadmin', item.id]">
          <img src="../../../../assets/icons/icons8-edit-40.png" height="40" width="40"/></button>&nbsp;
        <button type="button" class="btn btn-link"
                data-toggle="modal" [attr.data-target]="'#confirmacion8'+i">
          <img src="../../../../assets/icons/icons8-cancel-40.png" height="40" width="40"/></button>
        <div class="modal fade" [id]="'confirmacion8'+i" tabindex="-1" role="dialog" aria-labelledby="confirmacion" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eleminar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Seguro que desea eleminar este registro ??
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminar(item.id, i)">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

