<div class="container-fluid">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Manual de Ayuda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Para su ayuda, le presentamos el manual con el cual podra aclarar las dudas que posea acerca de la aplicación web, haga click en Aceptar para ver el
          manual o en Cancelar para cerrar esta ventana
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openPdf()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <ng2-pdfjs-viewer #externalPdfViewer [externalWindow]="true"></ng2-pdfjs-viewer>

  <div class="row">
    <div class="col-sm-10 text-center">
      <button [routerLink]="['/usuario', 'nuevo']" type="button" class="btn btn-link">
        <img src="../../../../assets/icons/icons8-add-48.png" height="48" width="48"/>Nuevo Docente
      </button>
    </div>
    <div class="col-sm text-right">
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
        <img src="../../../../assets/icons/icons8-help-40.png" height="40" width="40"/>Ayuda
      </button>
    </div>
  </div>
  <br>
  <!--<table class="table table-responsive table-hover" style="">
    <thead>
    <tr>
      <th>Nombres y Apellidos</th>
      <th>Correo</th>
      <th>Carrera</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of usuarios; let i = index;">
      <td>{{item.nombreDocent}}&nbsp;{{item.apellidoDocent}}</td>
      <td>{{item.correo}}</td>
      <td>{{item.carreras}}</td>
      <td>
        <button type="button" class="btn btn-link" [routerLink]="['/usuario', item.id]">
          <img src="../../../../assets/icons/icons8-edit-40.png" height="40" width="40"/>
        </button> &nbsp;
        <button type="button" class="btn btn-link"
                data-toggle="modal" [attr.data-target]="'#confirmacion'+i">
          <img src="../../../../assets/icons/icons8-cancel-40.png" height="40" width="40"/>
        </button>
        <div class="modal fade" [id]="'confirmacion'+i" tabindex="-1" role="dialog" aria-labelledby="confirmacion" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eleminar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Seguro que desea eleminar este registro ??
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminar(item.id, i)">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>-->

  <p-table #dt [columns]="cols" [(selection)]="selectedUsu" [value]="usuarios" [paginator]="true" [rows]="10" [resizableColumns]="true" [reorderableColumns]="true" [rowsPerPageOptions]="[10,20,30]">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <img src="../../../../assets/icons/icons8-search-20.png" height="20" width="20"/>
        <input class="col-sm-12" type="text" pInputText placeholder="Buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" class="text-center" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th class="text-center">
          Opciones
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" >
          <input class="col-sm-12" placeholder="Por Apellido" *ngSwitchCase="'apellidoDocent'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input class="col-sm-12" placeholder="Por Nombre" *ngSwitchCase="'apellidoDocent'" pInputText type="text" (input)="dt.filter($event.target.value, col.subfield, col.filterMatchMode)">
          <input class="col-sm-12" *ngSwitchCase="'cargo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input class="col-sm-12" *ngSwitchCase="'carreras'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input class="col-sm-12" *ngSwitchCase="'materias'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        </th>
        <th class="text-md-center">
          <p>Editar y Eliminar</p>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns;">
          {{rowData[col.field]}} {{rowData[col.subfield]}}
        </td>
        <td class="text-md-center">
          <button type="button" class="btn btn-link">
            <img src="../../../../assets/icons/icons8-edit-40.png" height="40" width="40" [routerLink]="['/usuario', rowData.id]"/>
          </button>
          <button type="button" class="btn btn-link"
                  data-toggle="modal" [attr.data-target]="'#confirmacion'+ rowData.id">
            <img src="../../../../assets/icons/icons8-cancel-40.png" height="40" width="40"/>
          </button>
          <div class="modal fade" [id]="'confirmacion'+ rowData.id" tabindex="-1" role="dialog" aria-labelledby="confirmacion" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Eleminar registro</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Seguro que desea eleminar este registro ??
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminar(rowData.id)">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


