<div class="container-fluid">
  <div style="text-align: center">
    <button [routerLink]="['/usuario', 'nuevo']" type="button" class="btn btn-link">
      <img src="../../../../assets/icons/icons8-add-48.png" height="48" width="48"/>Nuevo Docente
    </button>
  </div>
  <br>
  <table class="table table-responsive table-hover" style="">
    <thead>
    <tr>
      <th>Nombres y Apellidos</th>
      <th>Edad</th>
      <th>Correo</th>
      <th>Materia</th>
      <th>Carrera</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of usuarios; let i = index;">
      <td>{{item.nombreDocent}}&nbsp;{{item.apellidoDocent}}</td>
      <td>{{item.correo}}</td>
      <td>{{item.carreras}}</td>
      <td>{{item.materiaDocent}}</td>
      <td>
        <button type="button" class="btn btn-link" [routerLink]="['/usuario', item.id]">
          <img src="../../../../assets/icons/icons8-edit-40.png" height="40" width="40"/>
        </button> &nbsp;
        <button type="button" class="btn btn-link"
                data-toggle="modal" [attr.data-target]="'#confirmacion'+i">
          <img src="../../../../assets/icons/icons8-cancel-40.png" height="40" width="40"/>
        </button>
        <div class="modal fade" [id]="'confirmacion'+i" tabindex="-1" role="dialog" aria-labelledby="confirmacion" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eleminar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Seguro que desea eleminar este registro ??
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminar(item.id, i)">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--
 <div class="form-group row">
  <label class="col-2 col-form-label ">Options</label>
  <div class="col-10">
    <select class="custom-select form-control"
            name="semestre">
      <option *ngFor="let item of carreras" value="{{item.nombre}}">{{item.siglas}}</option>
    </select>
  </div>
</div>
<p-checkbox name="carrera" *ngFor="let item of carreras"  value="{{item.nombre}}" label="{{item.siglas}}"></p-checkbox>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
  Launch demo modal
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-usuario></app-usuario>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->
