<div class="container-fluid" xmlns="">
  <div class="row">
    <div class="col-sm-6 text-left">
      <button [routerLink]="['/admin']" type="button" class="btn btn-info">
        <<
      </button>
    </div>
    <div class="col-sm-6 text-right">
      <button [routerLink]="['/horarioadmin','nuevo']" type="button" class="btn btn-info">
        Limpiar
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">

        <div class="form-group row">
          <label class="col-2 col-form-label">Materia:</label>
          <div class="col-10">
            <select class="form-control"
                    [(ngModel)]="horario.nombreMat" name="mat" id="mat">
              <option *ngFor="let i of materias" value="{{i.nombreMat}}">{{i.nombreMat}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Docente:</label>
          <div class="col-10">
            <select class="form-control"
                    [(ngModel)]="horario.docenteNom" name="mat" id="docent">
              <option *ngFor="let i of docentes" value="{{i.nombreDocent}}">{{i.nombreDocent}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Aula:</label>
          <div class="col-10">
            <select class="form-control"
                    [(ngModel)]="horario.nombreAula" name="aul">
              <option *ngFor="let item of aulas" value="{{item.nombreAula}}">{{item.nombreAula}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">Dia</label>
          <div class="col-10">
            <div class="row">
              <div class="col-3">
                <p-checkbox name="dia" [(ngModel)]="horario.dia"  binary="false" label="Lunes" (onChange)="val()"  [(ngModel)]="cod"></p-checkbox>
              </div>
              Desde:<div class="col-3">
                <input class="form-control" id="inicio" type="time" value="07:00" min="07:00" max="19:00" step="3600"
                          name="hora1" [(ngModel)]="horario.horaInicio" [disabled]="cod" (click)="hora2()">
              </div>
              Hasta:<div class="col-3">
                <input class="form-control" id="fin" type="time" value="07:00" min="08:00" max="21:00" step="3600"
                       name="hora2" [(ngModel)]="horario.horaFin" [disabled]="cod" (click)="hora2()">
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-3">
                <p-checkbox name="dia" [(ngModel)]="horario.dia1"  binary="true" label="Martes" (onChange)="val1()" [(ngModel)]="cod1"></p-checkbox>
              </div>
              Desde:<div class="col-3">
              <input class="form-control" id="inicio1" type="time" value="07:00" min="07:00" max="19:00" step="3600"
                     name="hora1" [(ngModel)]="horario.horaInicio1" [disabled]="cod1" (click)="hora2()">
            </div>
              Hasta:<div class="col-3">
              <input class="form-control" id="fin1" type="time" value="07:00" min="08:00" max="21:00" step="3600"
                     name="hora2" [(ngModel)]="horario.horaFin1" [disabled]="cod1" (click)="hora2()">
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-3">
                <p-checkbox name="dia" [(ngModel)]="horario.dia2" label="Miercoles" binary="true" (onChange)="val2()" [(ngModel)]="cod2"></p-checkbox>
              </div>
              Desde:<div class="col-3">
              <input class="form-control" id="inicio2" type="time" value="07:00" min="07:00" max="19:00" step="3600"
                     name="hora1" [(ngModel)]="horario.horaInicio2" [disabled]="cod2" (click)="hora2()">
            </div>
              Hasta:<div class="col-3">
              <input class="form-control" id="fin2" type="time" value="07:00" min="08:00" max="21:00" step="3600"
                     name="hora2" [(ngModel)]="horario.horaFin2" [disabled]="cod2" (click)="hora2()">
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-3">
                <p-checkbox name="dia" [(ngModel)]="horario.dia3" label="Jueves" binary="true" (onChange)="val3()" [(ngModel)]="cod3"></p-checkbox>
              </div>
              Desde:<div class="col-3">
              <input class="form-control" id="inicio3" type="time" value="07:00" min="07:00" max="19:00" step="3600"
                     name="hora1" [(ngModel)]="horario.horaInicio3" [disabled]="cod3" (click)="hora2()">
            </div>
              Hasta:<div class="col-3">
              <input class="form-control" id="fin3" type="time" value="07:00" min="08:00" max="21:00" step="3600"
                     name="hora2" [(ngModel)]="horario.horaFin3" [disabled]="cod3" (click)="hora2()">
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-3">
                <p-checkbox name="dia" [(ngModel)]="horario.dia4" label="Viernes" binary="true" (onChange)="val4()" [(ngModel)]="cod4"></p-checkbox>
              </div>
              Desde:<div class="col-3">
              <input class="form-control" id="inicio4" type="time" value="07:00" min="07:00" max="19:00" step="3600"
                     name="hora1" [(ngModel)]="horario.horaInicio4" [disabled]="cod4" (click)="hora2()">
            </div>
              Hasta:<div class="col-3">
              <input class="form-control" id="fin4" type="time" value="07:00" min="08:00" max="21:00" step="3600"
                     name="hora2" [(ngModel)]="horario.horaFin4" [disabled]="cod4" (click)="hora2()">
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-3">
                <p-checkbox name="dia" [(ngModel)]="horario.dia5" label="Sabado" binary="true" (onChange)="val5()" [(ngModel)]="cod5"></p-checkbox>
              </div>
              Desde:<div class="col-3">
              <input class="form-control" id="inicio5" type="time" [disabled]="cod5" value="07:00" min="07:00" max="19:00" step="3600"
                     name="hora1" [(ngModel)]="horario.horaInicio5" (click)="hora2()">
            </div>
              Hasta:<div class="col-3">
              <input class="form-control" id="fin5" type="time" [disabled]="cod5" value="07:00" min="08:00" max="21:00" step="3600"
                     name="hora2" [(ngModel)]="horario.horaFin5" (click)="hora2()">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <button type="submit" (click)="guardar()" class="btn btn-info ">
            Guardar
          </button>
        </div>

      <p-growl [(value)]="msgs" [life]="2000"></p-growl>
    </div>
  </div>
</div>

